name: Generate testpackage reference data on HILE-C

on:
  # Only run when triggered manually
  workflow_dispatch:

jobs:
  # This should be kept ~identical to the build_TP job in github-ci.yml

  build_TP_HILE-C:
    # Build Vlasiator with testpackage flags, on the HILE cluster using
    # its CPUs
    runs-on: hile

    steps:
      - name: Clean workspace
        run: |
          RUN_STRING=$( cat << MORO
          rm -rf libraries library-build testpackage
          rm -f libraries.tar.zst testpackage_check_description.txt testpackage-output.tar.gz metrics.txt stdout.txt stderr.txt testpackage_output_variables.txt
          rm -f *.xml
          MORO
          )
          srun -C c bash -c "$RUN_STRING"
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Make clean
        run: VLASIATOR_ARCH=hile_cpu make clean
      - uses: ursg/gcc-problem-matcher@master
      - name: Compile vlasiator (Testpackage build w/ HIP)
        run: |
          srun -C c --job-name CI_tp_C_compile --interactive --nodes=1 -n 1 -c 16 --mem-per-cpu=2G -t 0:20:0 bash -c 'module load papi; module load cray-pmi; module load libfabric/1.22.0; export VLASIATOR_ARCH=hile_cpu; make -j 16 testpackage fluxfunction; sleep 10s'
      - name: Make sure the output binary is visible in lustre
        uses: nick-fields/retry@v3
        with:
          timeout_seconds: 15
          max_attempts: 3
          retry_on: error
          command: ls vlasiator
      - name: Upload testpackage binary
        uses: actions/upload-artifact@v4
        with:
          name: vlasiator-testpackage-HILE-C
          path: vlasiator
          if-no-files-found: error

  run_TP_HILE-C:
    # Run the testpackage on the HILE-C cluster
    runs-on: hile
    needs: [build_TP_HILE-C] # tools included in build tp
    continue-on-error: true

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        submodules: false
    - name: Download testpackage binary
      uses: actions/download-artifact@v4
      with:
        name: vlasiator-testpackage-HILE-C
    - name: Download tools
      uses: actions/download-artifact@v4
      with:
        name: vlasiator-tools-HILE-C
    - name: Run testpackage
      id: run
      run: |
        chmod +x $GITHUB_WORKSPACE/vlasiator
        # Fudge the run script
        sed -i 's/create_verification_files=0/create_verification_files=1/' ./small_test_hile_cpu.sh
        cd testpackage
        sbatch -W -o testpackage_run_output.txt ./small_test_hile_cpu.sh
        cat testpackage_run_output.txt
    - name: Generate reference fluxfunction files
      run: |
        chmod +x $GITHUB_WORKSPACE/fluxfunction
        srun -C c --job-name fluxtest --nodes=1 -n 1 -c 1 --mem-per-cpu=2G -t 0:10:0 bash -c 'module load papi; module load cray-pmi; module load libfabric/1.22.0; $GITHUB_WORKSPACE/fluxfunction testpackage/run_*/Magnetosphere_small/bulk.0000001.vlsv equatorial.bin'
        srun -C c --job-name fluxtest --nodes=1 -n 1 -c 1 --mem-per-cpu=2G -t 0:10:0 bash -c 'module load papi; module load cray-pmi; module load libfabric/1.22.0; $GITHUB_WORKSPACE/fluxfunction testpackage/run_*/Magnetosphere_polar_small/bulk.0000001.vlsv polar.bin'
        chmod 775 polar.bin equatorial.bin
        cp equatorial.bin polar.bin $REFERENCE_REVISION
        # No longer overwrites files in CI_reference/ but places in proper folder
    # We don't bother to create artefacts or anything here.
